<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Do0 Education</title>
		<link rel="stylesheet" type="text/css" media="screen" href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,700">
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/font-awesome.min.css"> 
		<link rel="stylesheet" type="text/css" href="css/bootstrap-theme.css" media="screen"> 
		<link rel="stylesheet" type="text/css" href="css/style.css">
			<link rel='stylesheet' id='camera-css'  href='css/camera.css' type='text/css' media='all'> 
		<!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
		<!--[if lt IE 9]>
		<script src="js/html5shiv.js"></script>
		<script src="js/respond.min.js"></script>
		<![endif]-->
	</head>

<body>
	<!-- Fixed navbar -->
	<div class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<!-- Button for smallest screens -->
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button>
				<a class="navbar-brand" href="/home">
					<img src="images/logo.png" alt="Techro HTML5 template"></a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav pull-right mainNav">
					<li class="active"><a href="/home">Home</a></li>
					<li><a href="/courses">Curso</a></li>
					<li><a href="/login">Login</a></li>
					<li><a href="/signup">Signup</a></li>
				</ul>
			</div>
			<!--/.nav-collapse -->
		</div>
    </div>


		<header id="head" class="secondary">
            <div class="container">
                    <h1>Aulas</h1>
                </div>
    </header>

    
    <div class="container">
<br/>

<div class="row thumbnails">
	<h1>Aulas</h1>
	<table class="table">
			<tbody>
				<% for(var chave in curso){  %>
				<tr>
				<th colspan="3" scope="row" id="lessonName"><%= curso[chave].lessonName %> </th>
				<td colspan="3"><button type="submit" class="btn btn-primary aula">Entrar</button>
				</tr>
				<% } %>
				
			</tbody>
		</table>
		
<footer id="footer">
 
	<div class="container">
 <div class="row">
<div class="footerbottom">
	<div class="col-md-3 col-sm-6">
		<div class="footerwidget">
			<div class="menu-course">
				<ul class="menu">
					<h4>Menu</h4>
					<li><a href="#">
							Home
						</a>
					</li>
					<li><a href="#">
							Sobre
						</a>
					</li>
					<li><a href="#">
							Cadastro Usuario
						</a>
					</li>
					<li><a href="#">
						 Sair
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-md-3 col-sm-6">
		<div class="footerwidget">
			<div class="menu-course">
				<ul class="menu">
					<h4>Planos</h4>
					<li> <a href="#">
							Plano Individual  </a>
					</li>
					<li><a href="#">
							Plano Trial
						</a>
					</li>
					<li><a href="#">
							Versão Beta
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-md-3 col-sm-6">
		<div class="footerwidget">
			<h4>
				Categorias
			</h4>
			<div class="menu-course">
				<ul class="menu">
					<li><a href="#">
							Curso Completo
						</a>
					</li>
					<li> <a href="#">
							Portugues
						</a>
					</li>
					<li><a href="#">
							Ingles
						</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-md-3 col-sm-6"> 
						<div class="footerwidget"> 
											 <h4>Contato</h4> 
											<p>Entre em contato</p>
					<div class="contact-info"> 
					<i class="fa fa-map-marker"></i> Uberlândia<br>
					<i class="fa fa-phone"></i>+00 123 156 711 <br>
					 <i class="fa fa-envelope-o"></i> jkscorporation
						</div> 
							</div><!-- end widget --> 
	</div>
</div>
</div>
		<div class="social text-center">
			<a href="#"><i class="fa fa-twitter"></i></a>
			<a href="#"><i class="fa fa-facebook"></i></a>
			<a href="#"><i class="fa fa-dribbble"></i></a>
			<a href="#"><i class="fa fa-flickr"></i></a>
			<a href="#"><i class="fa fa-github"></i></a>
		</div>

		<div class="clear"></div>
		<!--CLEAR FLOATS-->
	</div>
	<div class="footer2">
		<div class="container">
			<div class="row">
				<div class="col-md-12 panel">
					<div class="panel-body">
						<p class="text-center">
							Copyright &copy; 2018. <a href="http://webthemez.com/" rel="develop">WebThemez.com</a>
						</p>
					</div>
				</div>

			</div>
			<!-- /row of panels -->
		</div>
	</div>
</footer>



	<!-- JavaScript libs are placed at the end of the document so the pages load faster -->
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
	<script src="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<script>
		$(function(){
	
				
	$(".aula").on("click", function(){
		var lessonName = ($( this ).parents('td').siblings('th')[0].innerHTML)
		localStorage.setItem("aulas", lessonName);
		window.location.href = "/aulas/" + lessonName;
	});


});

	</script>